﻿@model HealthFeed.Entity.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    
</style>
<script src="~/js/plugins/jquery/dist/jquery.min.js"></script>
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(@Model.ImageUrl); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">@Model.Id  - @Model.Title</h1>
                <p class="text-white mt-0 mb-5">@Model.Description</p>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row mt--7">
            <div class="col-xl-10 mx-xl-auto">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0"></h3>
                            </div>
                            <div class="col-4 text-right">
                                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <h6 class="heading-small text-muted mb-4"><a asp-for="Id"></a> </h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label asp-for="Title" class="form-control-label"></label>
                                            <input asp-for="Title" required class="form-control form-control-alternative" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label asp-for="Description" class="form-control-label"></label>
                                            <input asp-for="Description" required class="form-control form-control-alternative" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label asp-for="ImageUrl" class="form-control-label ">Image (only Url)</label>
                                            <input asp-for="ImageUrl"  class="form-control form-control-alternative" />
                                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <img class="card-img card-img-bottom accordion" style="width:100%;" src="@Model.ImageUrl" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <h6 class="heading-small text-muted mb-4"> Date & Category</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label asp-for="PubDate" class="form-control-label ">Date</label>
                                        <input asp-for="PubDate" required class="form-control" />
                                        <span asp-validation-for="PubDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label asp-for="CategoryId" class="form-control-label">Category</label>
                                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                    </div>
                                    <div class="col-sm-4 m-auto">
                                        <div style="display:none">
                                            <label asp-for="UrlParserId" class="form-control-label "></label>
                                            <select asp-for="UrlParserId" class="form-control" asp-items="ViewBag.UrlParserId"></select>
                                        </div>
                                        <label class="form-control-label ">Post Active</label>
                                        <div class="form-group">

                                            <div>
                                                <label class="switch">
                                                    <input type="checkbox" class="switch" asp-for="IsActive" />
                                                    <div class="slider round">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <!-- Description -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm"></div>
                                    <div class="col-auto">
                                        <a class="btn btn-danger" asp-action="Index">Cancel</a>
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div><div class="col-sm">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
