﻿@model HealthFeedCpanel.Models.ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Posts/PostHeader.cshtml", Model.Post)

<style>
    .dataTables_filter {
        margin-right: 3rem !important;
        font-size: 0.875rem !important;
    }

    .dataTables_length {
        margin-left: 25px;
        font-size: 0.875rem !important;
    }

    .dataTables_info {
        margin-left: 25px;
        font-size: 0.875rem !important;
    }

    .paginate_button {
        margin-left: 25px;
        font-size: 0.875rem !important;
    }

        .paginate_button.current:hover {
            font-size: 0.875rem !important;
            color: #fff !important;
            background-color: #2dce89 !important;
            border-color: #2dce89 !important;
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
        }

    .dataTables_filter label input {
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
</style>
<div class="row mt--5">

    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Card tables</h3>
            </div>
            <div class="table-responsive">
                <table id="postTable" class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">İmage</th>
                            <th scope="col">Release Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Is Active</th>
                            <th scope="col">Options</th>
                            @*<th scope="col">@Html.DisplayNameFor(model => model.UrlParser)</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Post)
                        {
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm"> @Html.DisplayFor(modelItem => item.Title)</span>
                                        </div>
                                    </div>
                                </th>

                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <a class="avatar avatar-sm">
                                            <img src="@item.ImageUrl" class="rounded-circle" data-toggle="modal" data-target="#@item.PostTag">
                                        </a>
                                    </span>
                                    <div class="modal fade" id="@item.PostTag" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <img class="modal-content" src="@item.ImageUrl">
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">@Html.DisplayFor(modelItem => item.PubDate)</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">@Model.Category.Where(x => x.Id == item.CategoryId).FirstOrDefault().Name</span>
                                    </div>
                                </td>
                                <td>
                                    @if (item.IsActive)
                                    {
                                        <div class="has-success" />
                                    }
                                    else
                                    {
                                        <div class="has-danger" />
                                    }
                                </td>
                                <td>
                                    <div style="left:20px;right:20px;display: flex; ">
                                        <a asp-controller="Posts" asp-action="Edit/@item.Id">   <i style="color:forestgreen" class="fa fa-2x fa-edit"></i></a>
                                        @* <a asp-controller="Posts" asp-action="Details/@item.Id"><i style="color:#11cdef" class="fa  fa-2x fa-eye-slash"></i></a>*@
                                        <a asp-controller="Posts" asp-action="Delete/@item.Id"><i style="color:#f5365c" class="fa fa-2x fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/js/plugins/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#postTable').DataTable();
    });
</script>