﻿@model HealthFeed.Entity.Models.UrlParser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UrlParser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageTag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageTag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RssRoad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RssRoad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PubDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PubDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
