﻿@model HealthFeed.Entity.Models.UrlParser
    <div class="container">
        <div class="row">
            <form class="container" asp-action="Editing">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Url" class="control-label"></label>
                    <input asp-for="Url" required class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" required class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" required class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" required class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageTag" class="control-label"></label>
                    <input asp-for="ImageTag" required class="form-control" />
                    <span asp-validation-for="ImageTag" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RssRoad" class="control-label"></label>
                    <input asp-for="RssRoad" required class="form-control" />
                    <span asp-validation-for="RssRoad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PubDate" class="control-label"></label>
                    <input asp-for="PubDate" required class="form-control" />
                    <span asp-validation-for="PubDate" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6 col-sm-3">
                        <input value="close" data-dismiss="modal" class="btn btn-danger" style="max-width: 88px;" />
                    </div>
                    <div class="col-md-6 col-sm-3"><input type="submit" value="Create" class="btn btn-success float-right" /></div>
                </div>
            </form>
        </div>
    </div>
