﻿@model IEnumerable<HealthFeed.Entity.Models.UrlParser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/UrlParsers/UrlHeader.cshtml", Model)
<div class="row mt-5">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0 row">
                <div class="col-lg-10 col-md-10">
                    <h3 class="mb-0">Rss Url Table</h3>

                </div>
                <div class="col-lg-2 col-md-2 float-right">
                    <a href="#modalView" class="view" title="Create" data-target="UrlParsers/create/"><i class="btn fa fa-plus float-right top--2"></i></a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.Url)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Title) Field</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Image)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.ImageTag)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.PubDate)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.RssRoad)</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">@item.Url</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.Image
                                </td>
                                <td>
                                    @item.ImageTag
                                </td>
                                <td>
                                    @item.RssRoad
                                </td>
                                <td>
                                    @item.PubDate
                                </td>
                                <td class="text-right">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="#modalView" class="btn btn-info view" title="Edit" data-target="UrlParsers/Edit/@item.Id"><i class="fa fa-edit"></i></a>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-danger delete" title="Delete" data-id="@item.Id"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* Load Data  *@
            </div>
        </div>
    </div>
</div>

<script src="~/js/plugins/jquery/dist/jquery.min.js"></script>
<script>
    $(document).on('click', '.delete', function () {

        var id = $(this).data("id");

        swal({
            title: 'You want to delete this RSS',
            text: "Are you sure you want to delete",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes!',
            cancelButtonText: 'No!',
            closeOnConfirm: false
        }).then(function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("DeleteConfirmed","UrlParsers")/' + id,
                    success: function (data) {
                        if (data) {
                            swal('Silindi!', 'Adres silindi?', 'success');
                            $("#tr" + id).fadeOut($("#tr" + id).remove());
                            setTimeout(function () {
                                window.location.reload()
                            },2000)
                        }
                        else {
                            swal('Error', 'Error in operation?', 'warning');
                            return false;
                        }
                    }
                });

    }
        });
    });


    $(function () {
        // a tagimizde bulunan .view classımıza click olduğunda
        $("body").on("click", ".view", function () {
            //data-target dan url mizi al
            var url = $(this).data("target");
            //bu urlimizi post et
            $.post(url, function (data) { })
                //eğer işlemimiz başarılı bir şekilde gerçekleşirse
                .done(function (data) {
                    //gelen datayı .modal-body mizin içerise html olarak ekle
                    $("#modelView .modal-body").html(data);
                    //sonra da modalimizi göster
                    $("#modelView").modal("show");
                })
                //eğer işlem başarısız olursa
                .fail(function () {
                    //modalımızın bodysine Error! yaz
                    $("#modelView .modal-body").text("Error!!");
                    //sonra da modalimizi göster
                    $("#modelView").modal("show");
                })

        });
    })

</script>
