﻿@model HealthFeed.Entity.Models.AdminUser
@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title style="color:red">Health Feed Admin</title>
    <!-- Favicon -->
    <link href="~/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="~/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="~/js/plugins/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/css/argon-dashboard.css" rel="stylesheet" />
</head>
<body class="bg-default">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="main-content">
            <!-- Navbar -->
            <!-- Header -->
            <div class="header bg-gradient-primary py-7 py-lg-8">
                <div class="container">
                    <div class="header-body text-center mb-7">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-6">
                                <h1 class="text-white">Healt Feed</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator separator-bottom separator-skew zindex-100">
                    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>
            </div>
            <!-- Page content -->
            <div class="container mt--8 pb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                    <small>Login Health Feed Panel</small>
                                </div>
                                <form role="form" autocomplete="off">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm" })
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4">Sign in</button>
                                    </div>
                                    @if (ViewBag.Success == false)
                                    {
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <i style="color:red;font-size:small" class="font-weight-500">
                                                    Login Failed, Please<i style="color:green">
                                                        Check
                                                    </i>
                                                    Your Details
                                                </i>
                                            </div>
                                        </div>
                                    }
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }    <!--   Core   -->
    <script src="~/js/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--   Optional JS   -->
    <!--   Argon JS   -->
    <script src="~/js/argon-dashboard.min.js"></script>
</body>
</html>