﻿@model HealthFeed.Entity.Models.Category
@{
    Layout = null;
}
<div class="row">
    <div class="col">
        <form asp-action="Creating">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"> New Category Name</label>
                <input asp-for="Name" required class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 col-sm-3">
                    <input value="close" data-dismiss="modal" class="btn btn-danger" style="max-width: 88px;" />
                </div>
                <div class="col-md-6 col-sm-3"><input type="submit" value="Create" class="btn btn-success float-right" /></div>
            </div>
        </form>
    </div>
</div>
