﻿@model HealthFeed.Entity.Models.Branch
@{
    Layout = null;
}
<div class="row">
    <div class="col">
        <form asp-action="EditingBranch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">@Model.Name Name - Edit</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <div class="col-md-6 col-md-3">
                    <input value="close" data-dismiss="modal" class="btn btn-danger" style="max-width: 88px;" />
                </div>
                <div class="col-md-6 col-sm-3">
                    <input type="submit" value="Edit" class="btn btn-success float-right" />
                </div>
            </div>
        </form>
    </div>
</div>