﻿@model ViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-white {
        box-shadow: 0px 0px 0px 0px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
        color: #525f7f !important;
    }
</style>

<div class="header bg-gradient-green pb-8 pt-5 pt-md-8">
    <div class="row mt-6">
        <div class="col-xl-6 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3 class="mb-0">Category Table</h3>
                        </div>
                        <div class="col-md-4 text-right">
                            <a href="#modalView" class="view" title="Create" data-target="CategoryAndBranch/create/"><i class="fa fa-2x fa-plus"></i></a>

                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Category Name</th>
                                <th class="text-center">Active</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Category)
                            {
                                <tr>
                                    <th scope="row">
                                        @item.Name
                                    </th>
                                    <th class="text-center">
                                        @if (@item.IsActive)
                                        {
                                            <i class="fa fa-circle text-center text-green"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-circle text-center text-red"></i>
                                        }
                                    </th>
                                    <th class="text-right">
                                        <a href="#modalView" class="btn btn-white view" title="Edit" data-target="CategoryAndBranch/Edit/@item.Id"><i class="fa  fa-edit"></i></a>
                                        <a class="btn btn-white delete" title="Active" data-id="@item.Id"><i class="fa fa-eye-slash"></i></a>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-6 mb-5 mb-xl-0">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <h3 class="mb-0">Branch Table</h3>
                        </div>
                        <div class="col-md-4 text-right">
                            <a href="#modelView" data-target="CategoryAndBranch/createBranch/" title="Create" class="view"><i class="fa fa-2x fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Branch Name</th>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Branch)
                            {
                                <tr>
                                    <th scope="row">
                                        @item.Name
                                    </th>
                                    <th class="text-center"></th>
                                    <th class="text-right">
                                        <a href="#modelView" class="btn btn-white view" data-target="CategoryAndBranch/EditBranch/@item.Id" title="Edit"><i class="fa  fa-edit"></i></a>
                                        <button class="btn btn-white delete" data-id="@item.Id" title="Active"><i class="fa  fa-eye-slash"></i></button>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelView" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @* Load Data  *@
            </div>
        </div>
    </div>
</div>

<script src="~/js/plugins/jquery/dist/jquery.min.js"></script>
<script>
    $(document).on('click', '.delete', function () {

        var id = $(this).data("id");

        swal({
            title: 'You want to active this Category',
            text: "Are you sure you want to active",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes!',
            cancelButtonText: 'No!',
            closeOnConfirm: false
        }).then(function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: 'post',
                    url: 'CategoryActive/' + id,
                    success: function (data) {
                        if (data) {
                            swal('Done!', '', 'success');
                            setTimeout(function () {
                                window.location.reload()
                            }, 2000)
                        }
                        else {
                            swal('Error', 'Error in operation?', 'warning');
                            return false;
                        }
                    }
                });

            }
        });
    });


    $(function () {
        // a tagimizde bulunan .view classımıza click olduğunda
        $("body").on("click", ".view", function () {
            //data-target dan url mizi al
            var url = $(this).data("target");
            //bu urlimizi post et
            $.post(url, function (data) { })
                //eğer işlemimiz başarılı bir şekilde gerçekleşirse
                .done(function (data) {
                    //gelen datayı .modal-body mizin içerise html olarak ekle
                    $("#modelView .modal-body").html(data);
                    //sonra da modalimizi göster
                    $("#modelView").modal("show");
                })
                //eğer işlem başarısız olursa
                .fail(function () {
                    //modalımızın bodysine Error! yaz
                    $("#modelView .modal-body").text("Error!!");
                    //sonra da modalimizi göster
                    $("#modelView").modal("show");
                })

        });
    })

</script>